$dark500: #13141C;
$lightgray300: #A0A0A9;

@mixin primaryText {
    color: #ffffff !important;
    font-size: 16px;
}

@mixin secondaryText {
    color: $lightgray300 !important;
    font-size: 16px;
}

@mixin tertiaryText {
    color: #57576a !important;
    font-size: 16px;
}

html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.primaryText {
    @include primaryText;

    &.uppercase{
        font-weight: 500;
        text-transform: uppercase;
        font-size: 15px;
    }
}

.secondaryText {
    @include secondaryText;
}

.tertiaryText {
    @include tertiaryText;
}

h1 {
    color: #ffffff !important;
    font-size: 28px;

    &.card-title {
        text-align: center;
        margin: 16px 0 32px 0;
    }
}

h2 {
    color: #ffffff !important;
    font-size: 22px;
}

h4 {
    color: #ffffff !important;
    font-size: 16px;
    margin-bottom: 32px;
}

.layout {
    display: grid;
    grid-template-rows: auto 1fr;
}

.navBarContainer {
    padding: 24px 48px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    width: 100%;

    .logo img {
        height: 30px;
    }

    .nav-item {
        margin-right: 24px;
    }

    .navbar-nav {
        flex-direction: row;
    }
}


.btn-primary {
    color: #fff;
    font-size: 16px;
    background: rgb(237, 10, 116);
    background: linear-gradient(165deg, rgba(237, 10, 116, 1) 0%, rgba(246, 106, 70, 1) 100%);
    height: 48px;
    border-radius: 100px;
    min-width: 160px;
    border: none;
    box-shadow: none;

    &.textButton {
        padding: 0 24px;
    }

    &:hover {
        transition: all 0.3s ease-in-out;
        filter: brightness(125%);
        border: none;
        box-shadow: none;
    }

    &:active {
        transition: all 0.1s ease-in-out;
        filter: brightness(90%);
        border-color: transparent !important;
        box-shadow: none !important;
    }

    &:focus {
        background: linear-gradient(165deg, rgba(237, 10, 116, 1) 0%, rgba(246, 106, 70, 1) 100%);
        border-color: transparent !important;
        box-shadow: none !important;
    }

}

.btn-secondary {
    color: #fff;
    font-size: 16px;
    background: #55586C;
    background: linear-gradient(90deg, #2F313F 0%, #55586C 100%);
    height: 48px;
    border-radius: 100px;
    min-width: 72px;
    border: none;
    box-shadow: none;

    &.textButton {
        padding: 0 24px;
    }

    &:hover {
        transition: all 0.3s ease-in-out;
        filter: brightness(115%);
        border: none;
        box-shadow: none;
    }

    &:active {
        transition: all 0.1s ease-in-out;
        filter: brightness(90%);
        border-color: transparent !important;
        box-shadow: none !important;
    }

    &:focus {
        background: linear-gradient(90deg, #2F313F 0%, #55586C 100%);
        border-color: transparent !important;
        box-shadow: none !important;
    }

}

.btn-tertiary {
    color: #fff;
    font-size: 16px;
    background:
        linear-gradient(#181A24, #181A24) padding-box,
        linear-gradient(to right, #232631, #4B4E60) border-box;
    border: 2px solid transparent;
    height: 48px;
    border-radius: 100px;
    box-shadow: none;
    display: flex;
    justify-content: center;
    align-items: center;

    &.textButton {
        padding: 0 24px;
    }

    &:hover,
    &:focus,
    &:active {
        color: #fff;
    }



    &:hover {
        transition: all 0.3s ease-in-out;
        background:
            linear-gradient(to right, #232631, #4B4E60) padding-box,
            linear-gradient(to right, #232631, #4B4E60) border-box;
        filter: brightness(115%);
        box-shadow: none;
    }

    &:active {
        transition: all 0.1s ease-in-out;
        filter: brightness(90%);
        box-shadow: none !important;
    }

    &:focus {
        background:
            linear-gradient(#181A24, #181A24) padding-box,
            linear-gradient(to right, #232631, #4B4E60) border-box;
        box-shadow: none !important;
    }

}

.btn-icon {
    width: 48px;
    height: 48px;
}

.btn-close {
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2357576a'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
}

.mainContent {
    width: 100%;
    padding: 0 40px;
    grid-row: 2;


    &.centeredDialog {

        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .card {
            width: 500px;

            padding: 0 24px;
        }

        


        .downloadFormBrief {
            display: flex;
            flex-direction: column;
            justify-content: center;

            a {
                margin: 0 auto;
            }
        }
    }

    .workArea {
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 3fr;
        gap: 36px;
        padding-bottom: 24px;

        .sessionTools {
            grid-column: 1;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;

            .card {
                padding: 12px;

                &:not(:last-child) {
                    margin-bottom: 24px;
                }
            }

            .moderatorThumbnail {
                margin-bottom: 24px;
                .video-card-body {
                    display: grid;
                    grid-template-rows: 1fr auto;
                    gap: 8px;

                    .video-player {
                        grid-row: 1;
                        width: 100%;
                        height: 220px;
                    }

                    .videoData {
                        grid-row: 2;
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        .thumbnailDetails {
                            display: flex;
                            align-items: center;

                            .secondaryText {
                                font-size: 14px;
                            }
                        }
                    }
                }
            }

        }

        .videoContent {
            grid-column: 2;
            display: grid;
            grid-template-rows: 1fr auto;
            gap: 24px;
            padding-right: 40px;


            .screenShareContent {
                grid-row: 1;
                display: flex;
                align-items: center;
                justify-content: cent;
                border: 8px solid #181A24;
                border-radius: 72px 0;
                background-color: $dark500;

                span {
                    @include tertiaryText;
                    margin: 0 auto;
                    max-width: 360px;
                    text-align: center;
                }
            }


            .playersThumbnails {
                grid-row: 2;
                height: 200px;
                background-color: #181A24;
                border-radius: 36px;
                display: flex;
                flex-direction: row;
                overflow-y: hidden;
                overflow-x: auto;


                .video-card-body {
                    margin-right: 36px;
                    display: grid;
                    grid-template-rows: 1fr auto;
                    gap: 8px;

                    .video-player {
                        grid-row: 1;
                        width: 140px;
                        height: 100px;
                    }

                    .videoData {
                        grid-row: 2;
                        display: flex;
                        flex-direction: column;
                        margin-left: 4px;

                        .thumbnailDetails {
                            display: flex;
                            align-items: center;

                            .secondaryText {
                                font-size: 14px;
                            }
                        }
                    }
                }
            }

        }

        .playerAndConnections {
            grid-column: 2;
        }
    }
}

.actionsBar {
    display: grid;
    grid-template-columns: 1fr;

    &.threeElements {
        grid-template-columns: 1fr auto auto;
        gap: 10px;
    }
}

.form-check.form-switch {
    margin-top: 16px;
    margin-left: 8px;
    padding: 0;

    .form-check-input {
        width: 48px !important;
        height: 24px !important;
        margin: 0;
        border: none;
        box-shadow: none;

        &:hover,
        &:focus,
        &:active {
            border: none;
            box-shadow: none;
        }


    }

    .text-info {
        @include primaryText;
        margin-left: 8px;
    }

}

.formField {

    margin-bottom: 24px;

    .formLabel {
        color: #6b6b7c;
    }

    .formInput {
        background-color: transparent;
        border: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        color: #fff;
        padding: 8px 24px 8px 0;
        border-radius: 0;
        outline: none;


        &:hover,
        &:focus,
        &:active {
            box-shadow: none;
        }

        &:hover {
            border-bottom: 1px solid rgba(255, 255, 255, 0.6);
        }

        &:focus {
            border-bottom: 1px solid rgba(246, 106, 70, 1);
        }

    }

    .form-select{
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%2355586C' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    }

    .formInputRow{
        display: grid;
        grid-template-columns: 1fr auto;
        gap: 8px;

        .form-select{
            grid-column: 1;
        }

        button{
            grid-column: 2;
        }
    }
}

ul.checkBullets {
    //list-style-image: url('../../img/iconCheck.svg');

    li {
        background: url('../../img/iconCheck.svg') no-repeat left center;
        padding: 5px 10px 5px 36px;
        list-style: none;
        margin: 0 0 8px 0;
        vertical-align: middle;
        opacity: 0;


        animation-name: example;
        animation-duration: 0.3s;
        animation-fill-mode: forwards;


    }

    @for $i from 0 through 8 {
        li:nth-child(#{$i}n) {
            animation-delay: #{$i * 1}s;
        }
    }
}

.offcanvas{
    background-color: $dark500;
    padding: 24px;

    ul{
        .list-group-item{
            background-color: transparent;
            border: none;
            border-bottom: 1px solid rgba(255, 255, 255, 0.21);
            outline: none;
            @include primaryText;
        }
    }
}