html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.primaryText {
  color: #ffffff !important;
  font-size: 16px;
}

.secondaryText {
  color: #A0A0A9 !important;
  font-size: 16px;
}

.tertiaryText {
  color: #57576a !important;
  font-size: 16px;
}

h1 {
  color: #ffffff !important;
  font-size: 28px;
}

h1.card-title {
  text-align: center;
  margin: 16px 0 32px 0;
}

.layout {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr;
      grid-template-rows: auto 1fr;
}

.navBarContainer {
  padding: 24px 48px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr auto;
      grid-template-columns: auto 1fr auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.navBarContainer .logo img {
  height: 30px;
}

.navBarContainer .nav-item {
  margin-right: 24px;
}

.navBarContainer .navbar-nav {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.btn-primary {
  color: #fff;
  font-size: 16px;
  background: #ed0a74;
  background: linear-gradient(165deg, #ed0a74 0%, #f66a46 100%);
  height: 48px;
  border-radius: 100px;
  min-width: 160px;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-primary.textButton {
  padding: 0 24px;
}

.btn-primary:hover {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-filter: brightness(125%);
          filter: brightness(125%);
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-primary:active {
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  -webkit-filter: brightness(90%);
          filter: brightness(90%);
  border-color: transparent !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.btn-primary:focus {
  background: linear-gradient(165deg, #ed0a74 0%, #f66a46 100%);
  border-color: transparent !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.btn-secondary {
  color: #fff;
  font-size: 16px;
  background: #55586C;
  background: -webkit-gradient(linear, left top, right top, from(#2F313F), to(#55586C));
  background: linear-gradient(90deg, #2F313F 0%, #55586C 100%);
  height: 48px;
  border-radius: 100px;
  min-width: 160px;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-secondary.textButton {
  padding: 0 24px;
}

.btn-secondary:hover {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-filter: brightness(115%);
          filter: brightness(115%);
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-secondary:active {
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  -webkit-filter: brightness(90%);
          filter: brightness(90%);
  border-color: transparent !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.btn-secondary:focus {
  background: -webkit-gradient(linear, left top, right top, from(#2F313F), to(#55586C));
  background: linear-gradient(90deg, #2F313F 0%, #55586C 100%);
  border-color: transparent !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.btn-tertiary {
  color: #fff;
  font-size: 16px;
  background: -webkit-gradient(linear, left top, left bottom, from(#181A24), to(#181A24)) padding-box, -webkit-gradient(linear, left top, right top, from(#232631), to(#4B4E60)) border-box;
  background: linear-gradient(#181A24, #181A24) padding-box, linear-gradient(to right, #232631, #4B4E60) border-box;
  border: 2px solid transparent;
  height: 48px;
  border-radius: 100px;
  -webkit-box-shadow: none;
          box-shadow: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-tertiary.textButton {
  padding: 0 24px;
}

.btn-tertiary:hover, .btn-tertiary:focus, .btn-tertiary:active {
  color: #fff;
}

.btn-tertiary:hover {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: -webkit-gradient(linear, left top, right top, from(#232631), to(#4B4E60)) padding-box, -webkit-gradient(linear, left top, right top, from(#232631), to(#4B4E60)) border-box;
  background: linear-gradient(to right, #232631, #4B4E60) padding-box, linear-gradient(to right, #232631, #4B4E60) border-box;
  -webkit-filter: brightness(115%);
          filter: brightness(115%);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-tertiary:active {
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  -webkit-filter: brightness(90%);
          filter: brightness(90%);
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.btn-tertiary:focus {
  background: -webkit-gradient(linear, left top, left bottom, from(#181A24), to(#181A24)) padding-box, -webkit-gradient(linear, left top, right top, from(#232631), to(#4B4E60)) border-box;
  background: linear-gradient(#181A24, #181A24) padding-box, linear-gradient(to right, #232631, #4B4E60) border-box;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.btn-icon {
  width: 48px;
  height: 48px;
}

.mainContent {
  width: 100%;
  padding: 0 40px;
  -ms-grid-row: 2;
  grid-row: 2;
}

.mainContent.centeredDialog {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mainContent.centeredDialog .card {
  width: 500px;
  padding: 0 24px;
}

.mainContent.centeredDialog .downloadFormBrief {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mainContent.centeredDialog .downloadFormBrief a {
  margin: 0 auto;
}

.mainContent .workArea {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
  gap: 36px;
  padding-bottom: 24px;
}

.mainContent .workArea .sessionTools {
  -ms-grid-column: 1;
  grid-column: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.mainContent .workArea .sessionTools .card {
  padding: 12px;
}

.mainContent .workArea .sessionTools .card:not(:last-child) {
  margin-bottom: 24px;
}

.mainContent .workArea .videoContent {
  -ms-grid-column: 2;
  grid-column: 2;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr auto;
      grid-template-rows: 1fr auto;
  gap: 24px;
  padding-right: 40px;
}

.mainContent .workArea .videoContent .screenShareContent {
  -ms-grid-row: 1;
  grid-row: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: cent;
      -ms-flex-pack: cent;
          justify-content: cent;
  border: 8px solid #181A24;
  border-radius: 72px 0;
  background-color: #13141C;
}

.mainContent .workArea .videoContent .screenShareContent span {
  color: #57576a !important;
  font-size: 16px;
  margin: 0 auto;
  max-width: 360px;
  text-align: center;
}

.mainContent .workArea .videoContent .playersThumbnails {
  -ms-grid-row: 2;
  grid-row: 2;
  height: 200px;
  background-color: #181A24;
  border-radius: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow-y: hidden;
  overflow-x: auto;
}

.mainContent .workArea .videoContent .playersThumbnails .video-card-body {
  margin-right: 36px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr auto;
      grid-template-rows: 1fr auto;
  gap: 8px;
}

.mainContent .workArea .videoContent .playersThumbnails .video-card-body .video-player {
  -ms-grid-row: 1;
  grid-row: 1;
  width: 140px;
  height: 100px;
}

.mainContent .workArea .videoContent .playersThumbnails .video-card-body .videoData {
  -ms-grid-row: 2;
  grid-row: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 4px;
}

.mainContent .workArea .videoContent .playersThumbnails .video-card-body .videoData .thumbnailDetails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainContent .workArea .playerAndConnections {
  -ms-grid-column: 2;
  grid-column: 2;
}

.actionsBar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.actionsBar.threeElements {
  -ms-grid-columns: 1fr auto auto;
      grid-template-columns: 1fr auto auto;
  gap: 10px;
}

.form-check.form-switch {
  margin-top: 16px;
  margin-left: 8px;
  padding: 0;
}

.form-check.form-switch .form-check-input {
  width: 48px !important;
  height: 24px !important;
  margin: 0;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.form-check.form-switch .form-check-input:hover, .form-check.form-switch .form-check-input:focus, .form-check.form-switch .form-check-input:active {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.form-check.form-switch .text-info {
  color: #ffffff !important;
  font-size: 16px;
  margin-left: 8px;
}
/*# sourceMappingURL=overrides.css.map */