html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.layout {
    display: grid;
    grid-template-rows: auto 1fr;
}

.navBarContainer {
    padding: 24px 48px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    width: 100%;

    .logo img {
        height: 30px;
    }

    .nav-item {
        margin-right: 24px;
    }

    .navbar-nav{
        flex-direction: row;
    }
}


.btn-primary {
    color: #fff;
    background: rgb(237, 10, 116);
    background: linear-gradient(165deg, rgba(237, 10, 116, 1) 0%, rgba(246, 106, 70, 1) 100%);
    height: 40px;
    border-radius: 100px;
    min-width: 160px;
    border-color: transparent;
    box-shadow: none;

    &:hover {
        transition: all 0.3s ease-in-out;
        filter: brightness(125%);
        border-color: transparent;
        box-shadow: none;
    }

    &:active {
        transition: all 0.1s ease-in-out;
        filter: brightness(90%);
        border-color: transparent !important;
        box-shadow: none !important;
    }

    &:focus {
        background: linear-gradient(165deg, rgba(237, 10, 116, 1) 0%, rgba(246, 106, 70, 1) 100%);
        border-color: transparent !important;
        box-shadow: none !important;
    }

}

.btn-secondary {
    color: #fff;
    background: #55586C;
    background: linear-gradient(90deg, #2F313F 0%, #55586C 100%);
    height: 40px;
    border-radius: 100px;
    min-width: 160px;
    border-color: transparent;
    box-shadow: none;

    &:hover {
        transition: all 0.3s ease-in-out;
        filter: brightness(115%);
        border-color: transparent;
        box-shadow: none;
    }

    &:active {
        transition: all 0.1s ease-in-out;
        filter: brightness(90%);
        border-color: transparent !important;
        box-shadow: none !important;
    }

    &:focus {
        background: linear-gradient(90deg, #2F313F 0%, #55586C 100%);
        border-color: transparent !important;
        box-shadow: none !important;
    }

}

.btn-tertiary
 {
    color: #fff;
    background: 
        linear-gradient(#181A24, #181A24) padding-box,
        linear-gradient(to right, #232631, #4B4E60) border-box;
    border: 2px solid transparent;
    height: 40px;
    border-radius: 100px;
    box-shadow: none;

    &:hover {
        transition: all 0.3s ease-in-out;
        filter: brightness(115%);
        box-shadow: none;
    }

    &:active {
        transition: all 0.1s ease-in-out;
        filter: brightness(90%);
        box-shadow: none !important;
    }

    &:focus {
        background: 
            linear-gradient(#181A24, #181A24) padding-box,
            linear-gradient(to right, #232631, #4B4E60) border-box;
        box-shadow: none !important;
    }

}

.btn-icon{
    width:48px;
    height:48px;

}

.mainContent {
    width: 100%;
    padding: 0 40px;
    grid-row: 2;

    .workArea {
        height:100%;
        display: grid;
        grid-template-columns: 1fr 3fr;

        .sessionTools{
            grid-column: 1;
            .card:not(:last-child){
                margin-bottom: 24px;
            }

        }

        .playerAndConnections{
            grid-column: 2;
        }
    }
}