@mixin primaryText {
    color: #ffffff !important;
    font-size: 16px;
}

@mixin secondaryText {
    color: #A0A0A9 !important;
    font-size: 16px;
}

@mixin tertiaryText {
    color: #57576a !important;
    font-size: 16px;
}

html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.primaryText {
    @include primaryText;
}

.secondaryText {
    @include secondaryText;
}

.tertiaryText {
    @include tertiaryText;
}

h1{
    color: #ffffff !important;
    font-size: 28px;

    &.card-title{
        text-align: center;
        margin: 16px 0 32px 0;
    }
}

.layout {
    display: grid;
    grid-template-rows: auto 1fr;
}

.navBarContainer {
    padding: 24px 48px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    width: 100%;

    .logo img {
        height: 30px;
    }

    .nav-item {
        margin-right: 24px;
    }

    .navbar-nav {
        flex-direction: row;
    }
}


.btn-primary {
    color: #fff;
    font-size: 16px;
    background: rgb(237, 10, 116);
    background: linear-gradient(165deg, rgba(237, 10, 116, 1) 0%, rgba(246, 106, 70, 1) 100%);
    height: 48px;
    border-radius: 100px;
    min-width: 160px;
    border: none;
    box-shadow: none;

    &.textButton {
        padding: 0 24px;
    }

    &:hover {
        transition: all 0.3s ease-in-out;
        filter: brightness(125%);
        border: none;
        box-shadow: none;
    }

    &:active {
        transition: all 0.1s ease-in-out;
        filter: brightness(90%);
        border-color: transparent !important;
        box-shadow: none !important;
    }

    &:focus {
        background: linear-gradient(165deg, rgba(237, 10, 116, 1) 0%, rgba(246, 106, 70, 1) 100%);
        border-color: transparent !important;
        box-shadow: none !important;
    }

}

.btn-secondary {
    color: #fff;
    font-size: 16px;
    background: #55586C;
    background: linear-gradient(90deg, #2F313F 0%, #55586C 100%);
    height: 48px;
    border-radius: 100px;
    min-width: 160px;
    border: none;
    box-shadow: none;

    &.textButton {
        padding: 0 24px;
    }

    &:hover {
        transition: all 0.3s ease-in-out;
        filter: brightness(115%);
        border: none;
        box-shadow: none;
    }

    &:active {
        transition: all 0.1s ease-in-out;
        filter: brightness(90%);
        border-color: transparent !important;
        box-shadow: none !important;
    }

    &:focus {
        background: linear-gradient(90deg, #2F313F 0%, #55586C 100%);
        border-color: transparent !important;
        box-shadow: none !important;
    }

}

.btn-tertiary {
    color: #fff;
    font-size: 16px;
    background:
        linear-gradient(#181A24, #181A24) padding-box,
        linear-gradient(to right, #232631, #4B4E60) border-box;
    border: 2px solid transparent;
    height: 48px;
    border-radius: 100px;
    box-shadow: none;
    display: flex;
    justify-content: center;
    align-items: center;

    &.textButton {
        padding: 0 24px;
    }

    &:hover,
    &:focus,
    &:active {
        color: #fff;
    }



    &:hover {
        transition: all 0.3s ease-in-out;
        background:
            linear-gradient(to right, #232631, #4B4E60) padding-box,
            linear-gradient(to right, #232631, #4B4E60) border-box;
        filter: brightness(115%);
        box-shadow: none;
    }

    &:active {
        transition: all 0.1s ease-in-out;
        filter: brightness(90%);
        box-shadow: none !important;
    }

    &:focus {
        background:
            linear-gradient(#181A24, #181A24) padding-box,
            linear-gradient(to right, #232631, #4B4E60) border-box;
        box-shadow: none !important;
    }

}

.btn-icon {
    width: 48px;
    height: 48px;

}

.mainContent {
    width: 100%;
    padding: 0 40px;
    grid-row: 2;


    &.centeredDialog {

        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .card {
            width: 500px;

            padding: 0 24px;
        }

        .downloadFormBrief{
            display: flex;
            flex-direction: column;
            justify-content: center;

            a{
                margin: 0 auto;
            }
        }
    }

    .workArea {
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 3fr;
        gap: 36px;
        padding-bottom: 24px;

        .sessionTools {
            grid-column: 1;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;

            .card {
                padding: 12px;

                &:not(:last-child) {
                    margin-bottom: 24px;
                }
            }

        }

        .videoContent {
            grid-column: 2;
            display: grid;
            grid-template-rows: 1fr auto;
            gap: 24px;
            padding-right: 40px;


            .screenShareContent {
                grid-row: 1;
                display: flex;
                align-items: center;
                justify-content: cent;
                border: 8px solid #181A24;
                border-radius: 72px 0;
                background-color: #13141C;

                span{
                    @include tertiaryText;
                    margin: 0 auto;
                    max-width: 360px;
                    text-align: center;
                }
            }


            .playersThumbnails {
                grid-row: 2;
                height: 200px;
                background-color: #181A24;
                border-radius: 36px;
                display: flex;
                flex-direction: row;
                overflow-y: hidden;
                overflow-x: auto;


                .video-card-body {
                    margin-right: 36px;
                    display: grid;
                    grid-template-rows: 1fr auto;
                    gap: 8px;

                    .video-player {
                        grid-row: 1;
                        width: 140px;
                        height: 100px;
                    }

                    .videoData {
                        grid-row: 2;
                        display: flex;
                        flex-direction: column;
                        margin-left: 4px;

                        .thumbnailDetails {
                            display: flex;
                            align-items: center;
                        }
                    }
                }
            }

        }

        .playerAndConnections {
            grid-column: 2;
        }
    }
}

.actionsBar {
    display: grid;
    grid-template-columns: 1fr;

    &.threeElements {
        grid-template-columns: 1fr auto auto;
        gap: 10px;
    }
}

.form-check.form-switch {
    margin-top: 16px;
    margin-left: 8px;
    padding: 0;

    .form-check-input {
        width: 48px !important;
        height: 24px !important;
        margin: 0;
        border: none;
        box-shadow: none;

        &:hover,
        &:focus,
        &:active {
            border: none;
            box-shadow: none;
        }


    }

    .text-info {
        @include primaryText;
        margin-left: 8px;
    }

}